.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
}

.item {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 4px;

}

.item22 {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 4px;
    grid-column: span 2;

}