body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.data h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #555;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 15px;
}

.details p {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 10px;
    /* Khoảng cách giữa hai nút */
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.register-btn {
    background-color: #28a745;
    color: white;
}

.register-btn:hover {
    background-color: #218838
}

.details-btn {
    background-color: #007bff;

    color: white;
}

.details-btn:hover {
    background-color: #ff0808;

}